/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/*\
|*|
|*| Torrent Creator Sidebar CSS
|*|
\*/

@charset "utf-8";
@namespace "http://www.w3.org/1999/xhtml";

* { margin: 0 !important; padding: 0 !important; }
html, body { height: 100% !important; }

form {
  min-height: 99% !important;
  height: auto !important; /*min-height hack*/
  height: 99% !important;
  padding: 5px 0 0 5px !important;
}

/* Torrent Mode Selection */
#mode { width: 175px !important; }
#mode > label, #mode > div { float: left !important; }
#mode > div { margin-bottom: 1px !important; }
#mode > div { margin: auto; padding: initial; }
#mode > div > input:first-of-type { float: none !important; margin-left: 5px !important; }

/* Torrent Source Input */
#source, #buttons, #checkboxes { width: 175px !important; }
#source > input { width: 143px !important; border: 2px dashed #999 !important; }
#source > input:focus:invalid { color: red !important; }
#source > input:valid { box-shadow:0 0 2px green !important; }
#source > img {
    margin-top: -3px !important;
    vertical-align: middle !important;
    cursor: pointer !important;
}

.fieldset-container {
    width: 25% !important;
}
.fieldset-background {
    position: absolute !important;
    width: 175px !important;
    height: 100px !important;
    opacity: 0.2 !important;
    z-index: -10 !important; 
    background: url(images/link%2064.png) no-repeat scroll 55px 21px !important;
}
fieldset {
    width: 100% !important;
    padding: 3px !important;
    background: none !important; 
}

textarea { 
    border: none !important;
    overflow: hidden !important;
    background: none !important; }

.checkbox {display: inline !important;}

#save-defaults { margin-left: 6px !important; }

/* This is supposed to help display placeholders correctly on mobile devices. */
:-moz-placeholder { text-overflow: ellipsis !important; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { text-overflow: ellipsis !important; } /* Mozilla Firefox 19+ */

.option-label:-moz-placeholder { color: #000 !important; opacity: 1 !important; }
.option-label::-moz-placeholder { color: #000 !important; opacity: 1 !important; }
.option-label, .option-input { width: 168px !important; }

.checkmark {
    background: url(images/checkmark%2016.png) no-repeat scroll 152px 1px !important;
}

.spacer { width: 100% !important; height: 2% !important; max-height:10px !important; }

.button-enabled, .button-disabled {
    text-indent: 0 !important;
    display: inline-block !important;
    font-family: Arial !important;
    font-size: 13px !important;
    font-weight: bold !important;
    font-style: normal !important;
    height: 20px !important;
    line-height: 20px !important;
    width: 64px !important;
    text-decoration: none !important;
    text-align: center !important;
}
.button-enabled {
    text-shadow: 1px 1px 0px #aade7c !important;
    border: 1px solid #268a16 !important;
    box-shadow: inset 0px 1px 0px 0px #caefab !important;
    color: #384a29 !important;
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% ) !important;
    background-color: #77d42a !important;
    opacity: initial;
}
.button-enabled:focus { outline: none !important; }
.button-enabled:hover {
        background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% ) !important;
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a') !important;*/
        background-color: #5cb811 !important;
}
.button-enabled:active { position: relative !important; top: 1px !important; }

.button-disabled {
    border: 1px solid #000 !important;
    color: #000 !important;
    background-color: gray !important;
    opacity: 0.5 !important;
    cursor: default;
}

#button-create { margin-left: 10px !important; }
#button-save-as { margin-left: 5px !important; width: 74px !important; }

#history > span {
    border: none;
    border-bottom: 1px solid #000;
}